.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

@keyframes spin {
    0% {
        transform: rotate{0deg};
    }
    100% {
        transform: rotate(360deg);
    }
}

img {
    animation: spin 1s;
}

@keyframes rock {
    0% {
        transform: translateX(0);
    }
    10% {
        transform: translateX(50px);
    }
    67% {
        transform: translateX(-50px);
    }
    100% {
        transform: translateX(0);
    }
}

#bear:active {
    animation: rock 2s;
}

@keyframes disappear {
    0% {
        transform: scale(100%);
        opacity: 100%;
    }
    25% {
        transform: scale(75%);
    }
    50% {
        transform: scale(50%);
    }
    75% {
        transform: scale(25%);
    }
    100% {
        transform: scale(0%);
        opacity: 0%;
    }
}

#elephant:active {
    animation: disappear 1s;
}

@keyframes dance {
    0% {
        transform:rotateY(10deg);
    }
    33% {
        transform:rotateY(30deg);
    }
    66% {
        transform:rotateY(50deg);
    }
    100% {
        transform:rotateY(360deg);
    }
}

#giraffe:active {
    animation: dance 2s;
}